<a href="https://colab.research.google.com/github/debug-hub/house_price_predictions_ML/blob/main/House_price_predication_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("/content/Housing (1).csv")

In [3]:
df.head(10)

      price   area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000   7420         4  ...        2       yes        furnished
1  12250000   8960         4  ...        3        no        furnished
2  12250000   9960         3  ...        2       yes   semi-furnished
3  12215000   7500         4  ...        3       yes        furnished
4  11410000   7420         4  ...        2        no        furnished
5  10850000   7500         3  ...        2       yes   semi-furnished
6  10150000   8580         4  ...        2       yes   semi-furnished
7  10150000  16200         5  ...        0        no      unfurnished
8   9870000   8100         4  ...        2       yes        furnished
9   9800000   5750         3  ...        1       yes      unfurnished

[10 rows x 13 columns]

MODEL **TRAINING**

In [4]:
#ONE HOT ENCODING 

df['mainroad']=df['mainroad'].apply({"yes":1,"no":0}.get)
df['guestroom']=df['guestroom'].apply({'yes':1,'no':0}.get)
df['basement']=df["basement"].apply({"yes":1,"no":0}.get)
df['hotwaterheating']=df["hotwaterheating"].apply({"yes":1,"no":0}.get)
df['airconditioning']=df["airconditioning"].apply({"yes":1,"no":0}.get)
df['prefarea']=df["prefarea"].apply({"yes":1,"no":0}.get)
df['furnishingstatus']=df["furnishingstatus"].apply({"furnished":1,"unfurnished":2,"semi-furnished":3}.get)

In [5]:
df.head(10)

      price   area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000   7420         4  ...        2         1                 1
1  12250000   8960         4  ...        3         0                 1
2  12250000   9960         3  ...        2         1                 3
3  12215000   7500         4  ...        3         1                 1
4  11410000   7420         4  ...        2         0                 1
5  10850000   7500         3  ...        2         1                 3
6  10150000   8580         4  ...        2         1                 3
7  10150000  16200         5  ...        0         0                 2
8   9870000   8100         4  ...        2         1                 1
9   9800000   5750         3  ...        1         1                 2

[10 rows x 13 columns]

In [6]:
x=df
y=df

In [7]:
x=df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y=df['price']

In [8]:
x.tail(5)

     area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
540  3000         2          1  ...        2         0                 2
541  2400         3          1  ...        0         0                 3
542  3620         2          1  ...        0         0                 2
543  2910         3          1  ...        0         0                 1
544  3850         3          1  ...        0         0                 2

[5 rows x 12 columns]

In [9]:
y.tail(5)

540    1820000
541    1767150
542    1750000
543    1750000
544    1750000
Name: price, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

**MODEL** **BUILDING**

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()

In [14]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
predictions=model.predict(x_test)

In [16]:
predictions[0:5]

array([6653840.9469409 , 3621095.36092691, 6961337.09357812,
       4989414.74679738, 2906189.36334917])

In [17]:
model.score(x,y)

0.6706351104047268

In [18]:
df.head(10)

      price   area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000   7420         4  ...        2         1                 1
1  12250000   8960         4  ...        3         0                 1
2  12250000   9960         3  ...        2         1                 3
3  12215000   7500         4  ...        3         1                 1
4  11410000   7420         4  ...        2         0                 1
5  10850000   7500         3  ...        2         1                 3
6  10150000   8580         4  ...        2         1                 3
7  10150000  16200         5  ...        0         0                 2
8   9870000   8100         4  ...        2         1                 1
9   9800000   5750         3  ...        1         1                 2

[10 rows x 13 columns]

**PREDICTION WRT NEW CUSTOMER DATA**

In [19]:
data={'area':8000,'bedroom':4,'bathrooms':4,'stories':3,'mainroad':1,'guestroom':1,'basement':0,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':1,'furnishingstatus':2}

In [20]:
index=[1] #serial number

In [21]:
house_df=pd.DataFrame(data,index)

In [22]:
house_df

   area  bedroom  bathrooms  ...  parking  prefarea  furnishingstatus
1  8000        4          4  ...        1         1                 2

[1 rows x 12 columns]

In [23]:
print(house_df)

   area  bedroom  bathrooms  ...  parking  prefarea  furnishingstatus
1  8000        4          4  ...        1         1                 2

[1 rows x 12 columns]

In [24]:
predictions_house=model.predict(house_df)

In [25]:
print("Value of the house is",predictions_house)

Value of the house is [10904082.13804112]

In [26]:
df.describe()

              price          area  ...    prefarea  furnishingstatus
count  5.450000e+02    545.000000  ...  545.000000        545.000000
mean   4.766729e+06   5150.541284  ...    0.234862          2.159633
std    1.870440e+06   2170.141023  ...    0.424302          0.805669
min    1.750000e+06   1650.000000  ...    0.000000          1.000000
25%    3.430000e+06   3600.000000  ...    0.000000          1.000000
50%    4.340000e+06   4600.000000  ...    0.000000          2.000000
75%    5.740000e+06   6360.000000  ...    0.000000          3.000000
max    1.330000e+07  16200.000000  ...    1.000000          3.000000

[8 rows x 13 columns]